[submodule "Neetechs_Frontend"]
	path = Neetechs_Frontend
	url = https://github.com/davidpales1/Neetechs_Frontend.git
[submodule "Neetechs_Backend"]
	path = Neetechs_Backend
	url = https://github.com/davidpales1/Neetechs_Backend.git
[submodule "Neetechs_Mobile"]
	path = Neetechs_Mobile
	url = https://github.com/davidpales1/Neetechs_Mobile.git
[submodule "Neetechs_MVC"]
	path = Neetechs_MVC
	url = https://github.com/davidpales1/Neetechs_MVC.git
[submodule "Neetechs_react"]
	path = Neetechs_react
	url = https://github.com/davidpales1/Neetechs_react.git
[submodule "Neetechs_Accounts"]
	path = Neetechs_Accounts
	url = https://github.com/davidpales1/Neetechs_Accounts.git
[submodule "Neetechs_Myaccount"]
	path = Neetechs_Myaccount
	url = https://github.com/davidpales1/Neetechs_Myaccount.git
